<div class="min-h-screen bg-white flex justify-center pt-20 relative overflow-hidden">
  <a
    routerLink="/"
    class="absolute top-8 left-8 flex items-center gap-2 text-gray-600"
  >
    <mat-icon>arrow_back</mat-icon>
    <span class="font-bold uppercase text-sm">back</span>
  </a>

  <div class="w-full max-w-lg">
    <div class="text-center mb-6">
      <div class="flex justify-center mb-2">
        <img
          src="/assets/logo/logo-purple.svg"
          alt="Vipo logo"
          class="h-10 w-auto m-3 mt-5"
        />
      </div>
      <p class="text-sm text-gray-500 font-bold uppercase tracking-wide">
        შექმენი შენი ანგარიში
      </p>
    </div>

    <div class="bg-white border rounded-2xl p-8">
      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-3">
        <div>
          <label class="block text-xs font-black uppercase tracking-wider mb-2">იმეილი</label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-icon matPrefix>mail</mat-icon>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>

        <div>
          <label class="block text-xs font-black uppercase tracking-wider mb-2">ვერიფიკაციის კოდი</label>
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              formControlName="code"
              placeholder="123456"
            />
            @if (showError('code')) {
                <mat-error>
                    {{ getError('code') }}
                </mat-error>
                }
          </mat-form-field>
          <div class="text-right">
          <button
            type="button"
            class="text-xs font-bold uppercase text-[#885DDE] hover:opacity-80"
            [disabled]="isResending()"
            (click)="resend()"
          >
            კოდის ხელახლა გაგზავნა
          </button>
        </div>

        @if (resentMessage()) {
          <p class="text-xs text-green-600 font-semibold mt-2">
            {{ resentMessage() }}
          </p>
        }
        </div>

       <button mat-flat-button type="submit" class="w-full" [disabled]="form.invalid">
          ვერიფიკაცია
        </button>
      </form>
    </div>
  </div>
</div>