<div class="min-h-screen bg-white flex justify-center pt-20 relative overflow-hidden">
  <a routerLink="/auth/sign-in" class="absolute top-8 left-8 flex items-center gap-2 text-gray-600">
    <mat-icon>arrow_back</mat-icon>
    <span class="font-bold uppercase text-sm">უკან</span>
  </a>

  <div class="w-full max-w-lg">
    <div class="text-center mb-10">
      <div class="flex justify-center mb-2">
        <img src="/assets/logo/logo-purple.svg" alt="Vipo logo" class="h-10 w-auto m-3 mt-5" />
      </div>
      <p class="text-sm text-gray-500 font-bold uppercase tracking-wide">პაროლის აღდგენა</p>
    </div>

    <div class="bg-white border rounded-2xl p-8 auth-card-shadow">
      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-3">
        <div>
          <label class="block text-xs font-black uppercase tracking-wider mb-2">იმეილი</label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-icon matPrefix>mail</mat-icon>
            <input matInput type="email" formControlName="email" placeholder="you@example.com" />
            @if (showError()) {
              <mat-error>{{ getError() }}</mat-error>
            }
          </mat-form-field>
        </div>

        @if (sentMessage()) {
          <p class="text-xs text-green-600 font-semibold">{{ sentMessage() }}</p>
        }

        <button mat-flat-button type="submit" class="w-full" [disabled]="form.invalid || isSending()">
          გაგზავნა
        </button>
      </form>
    </div>
  </div>
</div>