<div class="min-h-screen bg-white flex justify-center pt-20 relative overflow-hidden">
  <a routerLink="/auth/sign-in" class="absolute top-8 left-8 flex items-center gap-2 text-gray-600">
    <mat-icon>arrow_back</mat-icon>
    <span class="font-bold uppercase text-sm">უკან</span>
  </a>

  <div class="w-full max-w-lg">
    <div class="text-center mb-10">
      <div class="flex justify-center mb-2">
        <img src="/assets/logo/logo-purple.svg" alt="Vipo logo" class="h-10 w-auto m-3 mt-5" />
      </div>
      <p class="text-sm text-gray-500 font-bold uppercase tracking-wide">ახალი პაროლი</p>
    </div>

    <div class="bg-white border rounded-2xl p-8 auth-card-shadow">
      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-3">
        <div>
          <label class="block text-xs font-black uppercase tracking-wider mb-2">პაროლი</label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput [type]="showPassword() ? 'text' : 'password'" formControlName="password" />
            <button mat-icon-button matSuffix type="button" (click)="showPassword.set(!showPassword())">
              <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (showError('password')) {
              <mat-error>{{ getError('password') }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div>
          <label class="block text-xs font-black uppercase tracking-wider mb-2">გაიმეორე პაროლი</label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput [type]="showConfirm() ? 'text' : 'password'" formControlName="confirmPassword" />
            <button mat-icon-button matSuffix type="button" (click)="showConfirm.set(!showConfirm())">
              <mat-icon>{{ showConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (showError('confirmPassword')) {
              <mat-error>{{ getError('confirmPassword') }}</mat-error>
            }
          </mat-form-field>
        </div>

        <button mat-flat-button type="submit" class="w-full" [disabled]="form.invalid">
          შენახვა
        </button>
      </form>
    </div>
  </div>
</div>