@use 'lib/themes/material/material-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
@import 'phosphor-icons/src/css/icons.css';
@import 'lib/themes/button-shimmer.scss';
@import 'lib/themes/material/snack-bar.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-max {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

:root {
  --color-primary: #885DDE;
  --color-primary-rgb: 136, 93, 222;
  --color-accent: #7A1DFF;

  // --color-swap: #faae78e0;
  --color-swap: #F3B582;
  --color-booking: #80CBC4;
  --color-market: #3E5AD8;

  --color-background: #faf8f5;
  --color-backgroundIcon: #f3f4f6;

  --color-feature: var(--color-primary);

  --color-text: #111827;
  --color-textBlue: #3f5ccfd6;
  --color-placeholder: #9CA3AF;
  --color-muted: #6b7280;
  --color-borderColor: #e5e7eb;
  --color-bg: #ffffff;

  // Snackbar colors
  --color-success: var(--color-primary);
  --color-secondary-50: #8e5add;
  --color-tertiary-50: #dd3830;
}

body.theme-swap { --vipo-feature: var(--vipo-swap); }
body.theme-market { --vipo-feature: var(--vipo-market); }
body.theme-booking { --vipo-feature: var(--vipo-booking); }

*,
*::before,
*::after { box-sizing: border-box; }

// html, body { 
//   height: 100%;
//   overscroll-behavior: none;
// }

body {
  margin: 0;
  color-scheme: light;

  font-family: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  background-color: var(--mat-sys-surface);
  color: #101828;

}


.auth-card-shadow {
  box-shadow: 0 4px 20px 23px rgba(123, 29, 255, 0.029);
}

.text-xs {
    font-size: 14px !important;
}

.cdk-overlay-container { z-index: 1000; }

// .text-feature {
//   color: var(--color-feature);
// }

// .bg-feature {
//   background-color: var(--color-feature);
// }

// .border-feature {
//   border-color: var(--color-feature);
// }
